.searchBar__item{
    display: flex;
    width: 100%;
    max-width: 1024px;
    height: 64px;
    align-items: center;
    border: 1px solid darkgray;
    background-color: lightgray;
    /*justify-content: space-between;*/
    /*font-size: 16px;*/
}

.searchBar__item *{
    width: available;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.searchBar__item div{
    border: 1px solid darkgray;
    display: flex;
}

.searchBar__item textarea{
    resize: none;
    border: none;
    width: 100%;
    background-color: whitesmoke;
    /*white-space: normal;*/
    text-align: center;
}

.СdeleteButtonDiv{
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sb__numeralDiv{
    width: 84px;
    /*overflow-y: auto;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.sb__innerNumeralDiv{
    /*width: 100%;*/
    height: 24px;
    cursor: pointer;
    border: 0px solid gainsboro;
}