.block1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1-wrapper{
    width: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    flex-direction: column;
}

.block1-inner-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7% 5% 7% 5%;
}

.block1__picture{
    width: 100%;
    max-width: 240px;
    min-width: 200px;
    display: flex; align-items: center;
}

.block1__text-content{
    margin: auto auto auto 5%;
}

.block1__text-content p{
    font-family: sans-serif;
}

.black__button{
    /*margin-top: 5%;*/
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px;
    transition: all 0.7s;
}

.black__button:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 840px) {
    .block1-inner-wrapper{
        flex-direction: column;
    }

    .block1-inner-wrapper{
        padding: 7% 0% 7% 0%;
    }

    .block1__TextContent{
        margin: 5% auto auto auto;
        padding: 0% 5% 0% 5%;
    }
}

.block2{
    background: url("../img/Content1-Background.png") no-repeat center center fixed;
    background-size: cover;
    display: flex; justify-content: center; align-items: center;
    margin-top: 5%;
    color: white;
    font-family: sans-serif;
}

.block2-wrapper{
    padding: 15% 0% 14% 0%;
}

.block2__play-button{
    width: 148px;
}

.block2__play-button:hover{
    width: 152px;
}

.block3{
    display: flex; justify-content: center; align-items: center;
}

.block3-wrapper{
    margin-top: 2%;
    margin-bottom: 2%;
}

.block3-wrapper article{
    margin-top: 2%;
    font-family: sans-serif;
}

.block3-wrapper hr {
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: black;
    width: 100px;
}

.block3__inner-blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-blocks{
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-blocks{
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block3__block{
    font-size: 0.9em;
    margin-top: 2%;
    max-width: 256px;
    display: flex; flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.block3__block h3{
    margin-top: 2%;
    margin-bottom: 2%;
    white-space: nowrap;
}

.block3__img{
    display: flex;
    align-items: center;
    width: 128px;
}

.block3 hr{
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: deepskyblue;
    width: 100px;
}

@media screen and (max-width: 840px){
    .block3{
        text-align: center;
    }
    .block3__img{
        width: 64px;
    }
    .top-blocks{
        flex-direction: column;
        width: 100%;
    }
    .bottom-blocks{
        flex-direction: column;
        width: 100%;
    }
    .block3__block p{
        font-size: 0em;
    }
}

.block4{
    display: flex; align-items: center; justify-content: center;
    background: url("../img/Content2-Background.png") no-repeat center center fixed;
    background-size: cover;
    font-size: 1em;
}

.block4-wrapper{
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.block4__header{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.block4__header article{
    margin: 2%;
    font-family: sans-serif;
}

.block4__header hr{
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: white;
    width: 100px;
}

.block4__people{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.person{
    font-family: sans-serif;
    color: white;
    border: 2px solid whitesmoke;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.person__img{
    width: 100%;
    max-width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person h3{
    margin: 3% 0% 2% 0%;
}

.block4__footer{
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10% 0% 10% 0%;
}

.block4__footer article{
    margin: 5% 0% 5% 0%;
}

.block4__button:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 840px){
    .block4__people{
        flex-direction: column;
    }

    .person{
        margin: 2% 0% 2% 0%;
    }
}

.block5{
    display: flex;
    align-items: center;
    flex-direction: column;
    /*justify-content: center;*/
    font-size: 1em;
}

.block5__top{
    width: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0% 5% 0%;
}

.block5__top article{
    font-family: sans-serif;
}

.block5__works{
    width: 100%;
    height: 264px;
    background-color: gray;
}

.block5__bottom{
    width: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0% 5% 0%;
}

@media screen and (max-width: 840px){
    .block5__top{
        flex-direction: column;
    }

    .block5__top article{
        margin-top: 3%;
    }
}

.block6{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/Content3-Background.png") no-repeat center center fixed;
    background-size: cover;
}

.block6-wrapper{
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block6__text-part{
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding-bottom: 8%;
}

.block6__text-part article span{
    font-weight: bold;
}

.block6__text-part h2{
    font-size: 8em;
}

.block7{
    display: flex;
    align-items: center;
    justify-content: center;
}

.block7-wrapper{
    width: 100%;
    max-width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.block7__column1{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
}

.block7__column1 h2{
    margin: 10% 0% 3% 0%;
}

.block7__column1 textarea{
    resize: none;
    margin: 3% 0% 3% 0%;
}

#button-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3% 0% 10% 0%;
}

.block7__column2{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    width: 100%;
    max-width: 420px;
}

.column2__row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5% 0% 2.5% 0%;
}

.column2__image{
    height: 100px;
    width: 180px;
    background-color: gray;
}

@media screen and (max-width: 840px){
    .block7-wrapper{
        flex-direction: column;
        text-align: center;
    }

    #button-wrapper{
        justify-content: center;
    }

    .column2__row{
        flex-direction: column;
    }

    .column2__image{
        margin: 2.5% 0% 2.5% 0%;
    }
}