footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/Footer-Background.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.footer-wrapper{
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.block-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0% 3% 0%;
}

.block-top h1{
    font-family: sans-serif;
}

.block-top__left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    color: dodgerblue;
}

.block-top__middle{
    width: 30%;
}

.block-top__right{
    width: 30%;
}

.block-middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0% 3% 0%;
}

.block-middle__left{
    width: 30%;
}

.block-middle__middle{
    width: 30%;
}

.block-middle__right{
    width: 30%;
}

.block-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0% 3% 0%;
}

.block-bottom__left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.block-bottom__left article{
    white-space: nowrap;
    margin: 0% 2% 0% 2%;
}

.block-bottom__middle{
    width: 30%;
}

.block-bottom__right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.block-bottom__left article:hover{
    color: dodgerblue;
}

@media screen and (max-width: 840px) {
    .block-bottom__left{
        /*flex-direction: column;*/
        width: 100%;
        justify-content: center;
    }

    .block-bottom__right{
        margin: 2% 0% 0% 0%;
        width: 100%;
        justify-content: center;
    }

    /*.block-bottom__left article{*/
        /*margin: 2% 0% 2% 0%;*/
        /*white-space: normal;*/
        /*text-align: center;*/
    /*}*/

    .block-top{
        flex-direction: column;
    }

    .block-top__left{
        width: 100%;
        justify-content: center;
    }

    .block-top__middle{
        display: none;
    }

    .block-top__right{
        display: none;
    }

    .block-middle__right{
        display: none;
    }

    .block-bottom{
        flex-direction: column;
    }
}