* {
    margin: 0;
    padding: 0;
    border-sizing: border-box;
}

body {

}

header {
    padding-top: 7px;
    padding-bottom: 2px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    /*align-items: ;*/
}

.Карточка-товара {
    color: gray;
    display: flex;
    font-size: 11pt;
}

.артикул{
    color: gray;
    display: flex;
    font-size: 11.5pt;
}

.артикул-h3{
    color: black;
    font-weight: bold;
    display: flex;
}

main {
    width: 900px;
    border: 1px solid gray;
    /*padding: 100px;*/
}

h1{
    color: cornflowerblue;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 29.5pt;
}

.img-part{
    display: flex;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
    width: 710px;
}

.phone-img{
    position: relative;
}

.mark{
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 0, 0, 0.51);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mark div{
    /*margin-top: 30%;*/
    /*height: 50px;*/
}

.img-part-columnm{
    display: flex;
    flex-direction: column;
}

#main-img{
    width: 75%;
}

.Дисплей{
    width: 345px;
}

.Оперативная-память{
    width: 345px;
    margin-top: 20px;
}

.small-imgs{
    display: flex;
    padding-left: 80px;
}

.small-imgs img{
    margin-left: 15px;
    width: 50px;
    height: 100px;
}

.p-on-footer{
    font-size: 10pt;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    width: 900px;
    font-size: 7.5pt;
}