* {
    margin: 0;
    height: 0;
    border-sizing: border-box;
}

.flex-box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height: 500px;
    margin: 50px auto;
}

.flex-item {
    margin: 10px;
    background: darkgray;
    /*width: 100px;*/
    height: 100px;
    width: 15%;
}

@media screen and (max-width: 700px) {
    .flex-box{
        flex-direction: column;
    }

    .flex-item{
        background: url("https://steamuserimages-a.akamaihd.net/ugc/947345120829613425/A60A8305C54B4262AB3515566BA58F239E18805A/") no-repeat center center fixed;
        background-size: cover;
    }
}

@media