*{
    margin: 0px;
    padding: 0px;
    border-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img{
    width: 100%;
    height: auto;
}

.rectangleButton {
    max-width: 128px; width: 100%;
    /*max-height: 46px; height: 100%;*/
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: deepskyblue;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.rectangleButtonBlue {
    max-width: 128px; width: 100%;
    /*max-height: 46px; height: 100%;*/
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.rectangleButtonBlue:hover{
    box-shadow: black;
}

.deleteWindow{
    width: 250px;
    height: 150px;
    background-color: lightgray;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    z-index: 1;

    position: fixed;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.deleteWindow__row{
    margin: 5% 0% 0% 0%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.editWindow{
    width: 676px;
    height: 200px;
    background-color: lightgray;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    z-index: 1;

    position: fixed;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.editWindow textarea{
    width: 666px;
    max-height: 128px;
    overflow-y: auto;
    background-color: white;
    resize: none;
}

.editWindow__row{
    margin: 5% 0% 0% 0%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}