#Max{
	width: 100%;
	height: 100%;
}

.Proletariy{
	text-align: center;
	color: red;
}

.header{
	display: flex;
	flex-direction: row;
}

.ul1 li{
    display: inline;
    margin-left: 5px;
}